<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LENGUAJE: {{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="{{ avatar }}" alt="" height="150px" width="150px">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="2">
        <ion-label>Usuario</ion-label>
      </ion-col>
      <ion-col size="6">
        <input type="text" value="{{ login }}">
      </ion-col>
    </ion-row>

    <ion-row>

    </ion-row>

    <ion-row>
      <ion-col size="2" offset="2">
        <ion-label>Lenguaje</ion-label>
      </ion-col>
      <ion-col size="6">
        <input type="text" value="{{ language }}">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="2">
        <ion-label>Direccion_URL</ion-label>
      </ion-col>
      <ion-col size="6">
        <input type="text" value="{{ url }}">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="2">
        <ion-label>Contribuidores</ion-label>
      </ion-col>
      <ion-col size="6">
        <input type="text" value="{{ contributors_url }}">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2" offset="2">
        <ion-label>Creacion</ion-label>
      </ion-col>
      <ion-col size="6">
        <input type="text" value="{{ created_at }}">
      </ion-col>
    </ion-row>

    <ion-button color="primary" (click)="guardar()" expand="block">Guardar</ion-button>

  </ion-grid>
</ion-content>
