<ion-header>
  <ion-toolbar>
    <ion-title>
      Repositorios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item>
    <ion-label color="primary" floating>Ingresa un lenguaje:</ion-label>
      <ion-input [(ngModel)]="inputVal"></ion-input>
  </ion-item>
  </ion-list>
          <ion-button color="primary" (click)="consulta()">BUSCAR</ion-button>


  <ion-list align-items-center>
    <ion-list-header >
      <ion-label>AVATAR</ion-label>
      <ion-label>NOMBRE</ion-label>
      <ion-label>LENGUAJE</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let arr of array; let i = index" (click)=abrir_modal(i)>
      <ion-label text-left><img src={{arr.avatar_url}} alt="" width="50px" height="50px"></ion-label>
      <ion-label text-center>{{ arr.name }}</ion-label>
      <ion-label text-right>{{ arr.language }}</ion-label>
    </ion-item>
  </ion-list>

    </ion-content>
